
<div class="ui segments">
  <div class="ui stacked segment">
    <div class="ui grid">
      <div class="twelve wide column">
        <img src={{student.thumbnailUrl}} width="150px" height="150px">
        <h3 class="ui left aligned header">{{student.name}} {{student.surname}}, {{student.indexNr}}</h3>
      </div>
      <div class="four wide column">
        <div class="ui buttons">
          <button class="ui negative right floated button" *ngIf="getRole() == 'ROLE_ADMIN'" (click)="deleteStudent()">Delete Student</button>
          <button class="ui simple right floated button" (click)="showDetail()"><span *ngIf="!detailedInfo">Show details</span>
            <span *ngIf="detailedInfo">Hide details</span>
          </button>

        </div>
      </div>
    </div>
  </div>
  <div class="ui stacked segment" *ngIf="detailedInfo">
    <div class="ui segment" *ngFor="let grade of student.grades let i=index">
      <div class="ui grid">
        <div class="ui twelve wide column">
          <h3 class="ui left floated">{{grade.subject}} - {{grade.grade}}, weight {{grade.weight}}</h3>
        </div>
        <div class="ui four wide column">

          <button class="ui negative right floated button"  *ngIf="getRole() == 'ROLE_ADMIN' || getRole() == 'ROLE_TEACHER'" (click)="deleteGrade(grade)">Delete grade</button>
          <button class="ui simple right floated button" *ngIf="(getRole() == 'ROLE_ADMIN' || getRole() == 'ROLE_TEACHER') && !isGradeEdited" (click)="toggleEdit(grade)">Edit grade</button>

        </div>
      </div>
      <div *ngIf="grade.singleGradeEdit">
        <br>
        <form class="ui form" [formGroup]="editGradeForm">
          <div class="inline fields">
            <div class="field" [ngClass]="(subjectInput.invalid && subjectInput.dirty)?'error' : (subjectInput.valid)?'success':''">
              <label>
                Subject
              </label>
              <input formControlName="subject" class="ui input" type="text" value="{{student.grades[i].subject}}" #subject>
            </div>

            <div class="field" [ngClass]="(gradeInput.invalid && gradeInput.dirty)?'error' : (gradeInput.valid)?'success':''">
              <label>
                Grade
              </label>
              <input formControlName="grade" class="ui input" type="number" value="{{student.grades[i].grade}}" min="1" max="6" #grade>
            </div>

            <div class="field" [ngClass]="(weightInput.invalid && weightInput.dirty)?'error' : (weightInput.valid)?'success':''">
              <label>
                Weight
              </label>
              <input formControlName="weight" class="ui input" type="number" value="{{student.grades[i].weight}}" min="1" max="5" #weight>
            </div>

            <button class="ui positive button" type="submit" value="Submit" [disabled]="(subjectInput.invalid && subjectInput.dirty) ||
            (gradeInput.invalid && gradeInput.dirty) || (weightInput.invalid && weightInput.dirty)" (click)="editGrade(subject,grade,weight,i); editGradeForm.reset()">Submit</button>
          </div>
        </form>
      </div>
    </div>
    <div class="ui stacked segment" *ngIf="gradeAdd">

      <form class="ui form" [formGroup]="addGradeForm">
        <div class="inline fields">
          <div class="field" [ngClass]="(subjectAddFormInput.invalid && subjectAddFormInput.touched)?'error' : (subjectAddFormInput.valid)?'success':''">
            <label>
              Subject
            </label>
            <input formControlName="newSubject" class="ui input" type="text" #newsubject>
          </div>

          <div class="field" [ngClass]="(gradeAddFormInput.invalid && gradeAddFormInput.touched)?'error' : (gradeAddFormInput.valid)?'success':''">
            <label>
              Grade
            </label>
            <input formControlName="newGrade" class="ui input" type="number" min="1" max="6" #newgrade>
          </div>

          <div class="field" [ngClass]="(weightAddFormInput.invalid && weightAddFormInput.dirty)?'error' : (weightAddFormInput.valid)?'success':''">
            <label>
              Weight
            </label>
            <input formControlName="newWeight" class="ui input" type="number" min="1" max="5" #newweight>
          </div>
          <button class="ui positive button" [disabled]="addGradeForm.invalid" *ngIf="getRole() == 'ROLE_ADMIN' || getRole() == 'ROLE_TEACHER'" type="submit" value="Add grade" (click)="addGrade(newsubject,newgrade,newweight); addGradeForm.reset()">Add grade</button>
        </div>
      </form>

    </div>
    <button class="ui positive fluid button"  *ngIf="getRole() == 'ROLE_ADMIN' || getRole() == 'ROLE_TEACHER'" (click)="toggleGradeAdd()">Add new grades</button>
    <br>
    <h3 class="ui horizontal divider header"> <b>Average:</b> {{average()}}</h3>
    <br>
  </div>
</div>
