<h1 class="ui horizontal divider center aligned header">Add a student</h1>
<div class="ui raised segment">

  <form class="ui form" [formGroup]="addStudentForm">
    <div class="ui grid">
      <div class="ui fourteen wide column">
      <div class="three fields">
      <div class="field" [ngClass]="(name.invalid && name.touched && name.value.length > 0)?'error' : (name.valid)?'success':''">
          <label>
            Name
          </label>
          <input class="ui input" type="text" formControlName="name">
      </div>
      <div class="field" [ngClass]="(surname.invalid && surname.touched && surname.value.length > 0)?'error' : (surname.valid)?'success':''">
        <label>
          Surname
        </label>
        <input class="ui input" type="text" formControlName="surname">
      </div>
      <div class="field" [ngClass]="(idx.invalid && idx.touched && idx.value != null && idx.value.toString().length > 0)?'error' : (idx.valid)?'success':''">
          <label>
            Index number
          </label>
          <input class="ui input" type="number" formControlName="idx">
        </div>
      </div>

      </div>
      <div class="ui two wide column">
        <div class="field">
          <label >Submit</label>
          <input class="ui positive fluid button" type="submit" value="Submit" [disabled]="addStudentForm.invalid" (click)="addStudent()">
        </div>

      </div>

    </div>
  </form>
</div>

<div class="ui negative message incorrect">
  <div class="content">
    <div class="header">
      Incorrect data
    </div>
    <p>The fields are incorrect!</p>
  </div>
</div>
